{% extends model('component') %}

{% define config = {
    name: 'jumbotron',
    tag: 'section'
} %}

{% define data = {
    imageUrl: 'https://images.unsplash.com/photo-1508433957232-3107f5fd5995?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2564&q=80',
    headline: 'global.spryker.shop' | trans
} %}

{% block body %}
    <div class="{{config.name}}__container grid grid--center grid--middle" style="background-image: url('{{data.imageUrl}}');">
        <div class="col col--sm-12">
            <h1 class="{{config.name}}__headline">{{data.headline}}</h1>
        </div>
    </div>
{% endblock %}
